{% extends "base.html.twig" %}
    {% block body %}

        <p>Il y a   {{ quizzs|length }} quizz disponibles</p>
        {% for quizz in quizzs %}
        <p><a href="/quizz/{quizz.id}">{{ quizz.title }}</a></p>
        {% endfor %}
    {% endblock %}