{% extends 'base.html.twig' %}

{% block body %}

    <div class="doingOrCreate">
        <div class="doingOrCreate-sub">
           {# {{ form(form) }} #}
            <a href="{{ path('app_quizz_participate') }}" class="doingOrCreate-sub">Regarder un film</a>
        </div>
            <a href="{{ path('app_quizz_create') }}" class="doingOrCreate-sub">Ajouter un film à la liste</a>
    </div>


{% endblock %}